@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap"); */
@font-face {
  font-family: "IBMPlexSansThai";
  src: url("/font/IBMPlexSansThai-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Delmon";
  src: url("/font/Delmon Delicate.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

::selection {
  color: #fff;
  background-color: #000;
}

::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #614e41;
  cursor: grab;
}
